.wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper li {
  padding: 8px;
  background: #efefef;
  border-bottom: 1px solid #dddddd;
}

.wrapper li:nth-child(2n) {
  background: #fcfcfc;
}

.wrapper li h3 {
  margin-bottom: 8px;
}

.wrapper li h4 {
  font-weight: normal;
  color: #aaaaaa;
  font-size: 0.8em;
  margin: 0 0 8px 0;
  text-overflow: ellipsis;
}
