.wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper li {
  padding: 8px;
  background: #efefef;
  border-bottom: 1px solid #dddddd;
}

.wrapper li:nth-child(2n) {
  background: #fcfcfc;
}

.wrapper li span {
  font-weight: normal;
  color: #aaaaaa;
  font-size: 0.8em;
}
