.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  align-items: stretch;
}

.page {
  background: #f0f0f0;
  flex: 1 0 auto;
  margin: 24px 0px;
  padding: 16px;
}